.dots {
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 2px;
}

td {
  height: 100px;
  vertical-align: top;
  text-align: center;
  position: relative;
  cursor: pointer;
}

td.active {
  background-color: rgb(228, 247, 255);
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
