* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar a.active,
.sidebar a:hover {
  color: #007bff;
  background-color: #e5ebf1;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  background-color: #f1f1f1;
  overflow-y: auto;
  flex: auto;
  width: calc(100vw - 250px);
}
